$borderColor: silver;
$textColor: #353535;
$backgroundColor: #fffffc;
$fontStack: 'Noto Sans JP', sans-serif;

$headerTextColor: #ed9b40;
$bannerColor: #0c3b5a;
$detailColor: #55917f;

$searchBarHeight: 50px;
$searchIconSize: 25px;

$ratingColorHigh: #04724d;
$ratingColorMedium: #eb9c0a;
$ratingColorLow: #bc2c1a;
$ratingColorUndef: #555;

$widthBreakpoint1: 872px;
$widthBreakpoint2: 510px;
