.global-chart-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.season-select {
  width: 100%;
  height: 50px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid $borderColor;

  & li {
    width: 50px;
    margin-bottom: -1.5px;
    list-style: none;
    display: inline;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid $borderColor;
    border-left: 1px solid $borderColor;
    border-right: 1px solid $borderColor;
    border-bottom: none;
    border-radius: 10px 10px 0 0;

    &.selected {
      background-color: $bannerColor;
      color: $headerTextColor;
      font-weight: bolder;
    }

    & input[type='checkbox'] {
      display: none;
    }

    & label {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
      font-family: $fontStack;
      cursor: pointer;
    }
  }

  & button {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: none;
    color: $textColor;
    border: none;
    padding: 0;
    outline: none;
    font-size: 1rem;
    font-family: $fontStack;
  }

  & li:first-child {
    border-left: 2px solid $borderColor;
  }

  & li:last-child {
    border-right: 2px solid $borderColor;
  }

  & button:active {
    outline: none;
  }

  & button.selected {
    border-bottom: 2px solid $backgroundColor;
  }
}

.chart-wrapper {
  width: 100%;
  //border: 2px solid $borderColor;
  border-top: none;
  margin-top: -1.5px;
}

#chart {
  position: relative;
  left: -31px;

  & .c3-line {
    stroke-width: 2px;
  }

  & .c3-legend-item-event:hover {
    cursor: default;
  }

  & .c3-tooltip {
    color: $textColor;

    & th {
      background-color: $bannerColor;
      color: $backgroundColor;
    }
  }
}
