.info-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 650px;
  flex-direction: column;
  width: 100%;
}

.chart-control-wrapper {
  display: flex;
  align-items: flex-end;
  align-self: flex-end;
  font-size: 0.9em;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  margin-top: 2.5em;
  margin-bottom: 1.8em;
}

.show-card-wrapper {
  padding: 0 0.9em;
  display: grid;
  grid-template-areas:
    'poster header'
    'poster body';
  grid-template-columns: 1fr 3fr;
  column-gap: 1em;

  @media (max-width: $widthBreakpoint1) {
    grid-template-areas:
      'header header'
      'poster body';
  }

  @media (max-width: $widthBreakpoint2) {
    grid-template-areas:
      'poster header'
      'body body';
  }
}

.show-poster {
  grid-area: poster;
  max-width: 200px;
  max-height: 200px;

  @media (min-width: $widthBreakpoint2) {
    margin-top: 1em;
  }

  @media (max-width: $widthBreakpoint2) {
    max-width: 75px;
  }
}

.show-header {
  grid-area: header;
  width: 100%;
  display: grid;
  grid-template-areas:
    'title rating'
    'year year';
  grid-template-columns: 9fr 1fr;

  @media (max-width: $widthBreakpoint2) {
    grid-auto-rows: min-content;
    margin: auto 0;
  }
}

.global-rating-box {
  grid-area: rating;
  height: 45px;
  width: 45px;
  margin: auto 0 auto 0.5em;
  color: $backgroundColor;
  border-radius: 10%;
  font-size: 13pt;
  display: flex;
  justify-content: center;
  align-items: center;

  &.high {
    background-color: #04724d;
  }

  &.medium {
    background-color: #eb9c0a;
  }

  &.low {
    background-color: #bc2c1a;
  }

  &.nan {
    background-color: #555;
  }
}

.show-title {
  margin: 0;

  @media (max-width: $widthBreakpoint2) {
    font-size: 1.6rem;
  }
}

.show-body {
  grid-area: body;
}

.chip {
  display: inline-block;
  margin: 0 0.5em 0.5em 0;
  padding: 0.1em 0.7em;
  border: 2px solid $textColor;
  border-radius: 20px;
  text-align: center;
  font-size: 0.9em;
}

.show-year {
  grid-area: year;
  margin: 0;
}

.plot-summary {
  grid-area: plot;
  margin: 0.7em 0;
  font-size: 0.8em;
}

.show-role-wrapper {
  grid-area: roles;
  margin-bottom: 0.7em;
}

.show-role {
  margin: 0;
  font-size: 0.7em;

  &:last-child {
    margin-bottom: 1em;
  }
}
