.switch-wrapper {
  display: flex;
  align-items: center;
  font-size: 0.9em;
  margin-top: 1em;

  @media (max-width: 1200px) {
    flex-wrap: wrap;
  }

  @media (max-width: $widthBreakpoint1) {
    justify-content: center;
    width: 10em;
  }
}

.switch-label {
  justify-self: flex-start;
  margin-right: 10px;

  @media (max-width: $widthBreakpoint1) {
    margin-right: 0;
  }
}

.switch {
  position: relative;
  display: inline-block;
  min-width: 60px;
  height: 34px;

  & input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .switch-slider {
      background-color: $headerTextColor;
    }

    &:focus + .switch-slider {
      box-shadow: 0 0 1px $headerTextColor;
    }

    &:checked + .switch-slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
  }
}

.switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $borderColor;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;

  &:before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: $backgroundColor;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
  }
}
