.switch-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  font-size: 0.9em;
  height: 4.6em;

  @media (max-width: 384px) {
    min-height: 80px;
  }
}

.switch-label {
  margin: 0 1em;
  text-align: center;
}

.switch {
  position: relative;
  display: inline-block;
  min-width: 60px;
  height: 34px;
  margin: 0 1em;

  & .switch-checkbox {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .switch-slider {
      background-color: $headerTextColor;
    }

    &.switch-disabled + .switch-slider {
      opacity: 0.3;
      cursor: not-allowed;
    }

    &:focus + .switch-slider {
      box-shadow: 0 0 1px $headerTextColor;
    }

    &:checked + .switch-slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
  }
}

.switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $borderColor;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;

  &:before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: $backgroundColor;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
  }
}

.switch-disabled {
  cursor: default;
}
