$borderColor: silver;
$textColor: #353535;
$backgroundColor: #fffffc;
$fontStack: 'Noto Sans JP', sans-serif;

$headerTextColor: #ed9b40;
$bannerColor: #0c3b5a;
$detailColor: #55917f;

$searchBarWidth: 50px;
