.search-wrapper {
  width: 40%;
  position: absolute;
}

.autocomplete-wrapper {
  position: relative;
  z-index: 2;
  width: 100%;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.5),
    0 15px 40px rgba(166, 173, 201, 0.2);
}

.autocomplete-list {
  margin: 0;
  padding: 0;
  border: 2px solid $borderColor;
  border-top: 1px solid $borderColor;
  max-height: 70vh;
  overflow-y: scroll;

  & li:last-child {
    border-bottom: none;
  }
}

.autocomplete-item {
  height: 4.2em;
  margin: 0;
  padding: 0.7em;
  list-style: none;
  border-top: 1px solid $borderColor;
  border-bottom: 1px solid $borderColor;
  margin-top: -1px;
  margin-left: -1px;
  background-color: $backgroundColor;
  cursor: pointer;
  font-size: 1.2em;

  &.hover {
    filter: brightness(95%);
  }
}

.autocomplete-item-wrapper {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.autocomplete-poster {
  max-width: 60px;
  height: 100%;
}

.autocomplete-info {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  margin-left: 2em;
}

.autocomplete-title {
  margin: 0;
}

.autocomplete-year {
  margin: 0;
  font-size: 0.8em;
}

.search-bar {
  width: 100%;
  height: $searchBarWidth;
  font-size: 1.2em;
  border: 2px solid $borderColor;
  border-radius: 27px;
  padding: 0 27px;
  background-color: $backgroundColor;
  color: $textColor;

  &:focus,
  &:hover {
    outline: none;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.5),
      0 15px 40px rgba(166, 173, 201, 0.2);
  }
}

.active-search {
  border-radius: 27px 27px 0 0;
  border-bottom: none;
}
